/* screen - landingpage1 */

.landingpage1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1440px;
}

.landingpage1 .nav-bar {
  -webkit-backdrop-filter: blur(40px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(40px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgba(243.31, 130.78, 130.78, 0.4) 0%,
    rgba(146.62, 146.62, 146.62, 0.1) 99.51%
  );
  box-shadow: 0px 22px 24px -1px #00000040;
  display: flex;
  height: 182px;
  min-width: 1440px;
  padding: 33px 60px;
}

.landingpage1 .ezugi-new-1 {
  height: 115px;
  object-fit: cover;
  width: 250px;
}

.landingpage1 .please-select-the-pl {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l2);
  font-weight: 700;
  letter-spacing: 0;
  margin-left: 22px;
  margin-top: 75px;
  min-height: 70px;
  width: 1156px;
}

.landingpage1 .buton-unu {
  align-items: flex-start;
  display: flex;
  margin-left: 3px;
  margin-top: 54px;
  min-width: 561px;
  text-align: center;
}

.landingpage1 .overlap-group {
  -webkit-backdrop-filter: blur(15px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(15px) brightness(100%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(221.94, 226.31, 171.62) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 40px;
  box-shadow: inset 0px 22px 24px -1px #00000040, 0px 4px 4px #00000040;
  display: flex;
  height: 105px;
  min-width: 559px;
  padding: 26px 164px;
}

.landingpage1 .single-table {
  letter-spacing: 0;
  min-height: 51px;
  width: 229px;
}

.landingpage1 .buton {
  align-items: flex-start;
  display: flex;
  margin-left: 3px;
  margin-top: 38px;
  min-width: 561px;
  text-align: center;
}

.landingpage1 .overlap-group1 {
  -webkit-backdrop-filter: blur(15px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(15px) brightness(100%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(221.94, 226.31, 171.62) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 40px;
  box-shadow: inset 0px 22px 24px -1px #00000040, 0px 4px 4px #00000040;
  display: flex;
  height: 105px;
  min-width: 559px;
  padding: 23px 132px;
}

.landingpage1 .multiple-tables {
  letter-spacing: 0;
  min-height: 56px;
  width: 292px;
}

.landingpage1 .overlap-group2 {
  -webkit-backdrop-filter: blur(15px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(15px) brightness(100%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(221.94, 226.31, 171.62) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 40px;
  box-shadow: inset 0px 22px 24px -1px #00000040, 0px 4px 4px #00000040;
  display: flex;
  height: 105px;
  min-width: 559px;
  padding: 24px 150px;
}

.landingpage1 .entire-studio {
  letter-spacing: 0;
  min-height: 55px;
  width: 256px;
}
